# 빌드 파일들
**/build/
**/.gradle/
**/intermediates/
**/*.apk
**/*.aab
**/*.jar
**/*.dex
**/*.so

# Android Studio
*.iml
.idea/
local.properties
.DS_Store

# 캐시 및 임시 파일
.externalNativeBuild/
.cxx/
/captures/

# IDE 워크스페이스 파일들
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/deploymentTargetDropDown.xml